<div>
  <div class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd; font-family: Arial; padding-top:0px; padding-bottom: 0px">
    <div class="col-lg-10 col-md-8 col-md-6 " ><img src="../assets/images/logo2.png" style="width: 200px;height:50px"></div>
    <div class="col-lg-1 col-md-1 col-md-2 " ><button routerLink="/login" class="btn btn-info">Log in</button></div>
    <div class="col-lg-1 col-md-1 col-md-2 "><button routerLink="/signup" class="btn btn-info">Sign up</button></div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>
